/* базові стилі */
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__media-item {
  width: 100% !important;
}
